@import 'media.pcss';

.Wrapper {
  align-items: center;
  background: var(--c-primary);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100%;
}

.Title {
  color: var(--c-black);
  font-size: 5rem;
  font-weight: 300;
  margin: 0 0 1rem 0;
  text-align: center;
}

.FeatureList {
  margin: 0 0 1rem 0;
  padding: 0;
}

.Feature {
  color: var(--c-black);
  display: block;
  font-size: 1.1rem;
  margin: 0.5rem 0;
  text-align: center;
}

@media (--small-viewport) {
  .Wrapper {
    padding: 1rem;
  }

  .Title {
    font-size: 3rem;
  }
}
